{% extends "base.html.twig" %}

{% block title %}Poker Squares{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('proj') }}
{% endblock %}

{% block nav %}
    {% include 'layout/proj-nav.html.twig' %}
{% endblock %}

{% block body %}
    <div class="poker-squares">
        <div class="poker-grid">
            {% include 'proj/board.html.twig' %}
            {% set totpoints = 0 %}

            {% for i in 0..5 %}
                {% for j in 0..5 %}
                    {% if i == 5 and j == 5 %}
                        <div class="points tot-points">
                            totala poäng: <br>
                            {{ totpoints }}
                        </div>
                    {% elseif i == 5 %}
                        <div class="points points{{ i }}-{{ j }}">
                            {{ pokerSquares.getBoard().getPoints(i, j) }}
                            {% set totpoints = totpoints + pokerSquares.getBoard().getPoints(i, j) %}
                        </div>
                    {% elseif j == 5 %}
                        <div class="points points{{ i }}-{{ j }}">
                            {{ pokerSquares.getBoard().getPoints(i, j) }}
                            {% set totpoints = totpoints + pokerSquares.getBoard().getPoints(i, j) %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        
        <div class="next-card">
            {% include 'proj/nextCard.html.twig' %}
            {% if pokerSquares.getBoard.isFull() %}
                <form method="post" action="{{ path('projSetHighscore', { score: totpoints }) }}">
                    <input type="text" name="name" placeholder="Ditt namn" required>
                    <input type="submit" value="Spara poäng">
                </form>
            {% else %}
                <a class="fake-btn reset" href="{{ path('projReset') }}">Starta om</a>
            {% endif %}
        </div>
        <div class="game-data">
            <div>
                <h3>Poäng förklaring</h3>
                {% include 'proj/pointsTable.html.twig' %}
            </div>
            <div>
                <h3>Highscore</h3>
                {% include 'proj/scoreTable.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}