{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-nav">
            <ul>
                <li><a href="{{ path('card') }}">Tillbaka</a></li>
                <li><a href="{{ path('cardDeckDrawOne') }}">Ta ett kort</a></li>
                <li><a href="{{ path('cardDeckDraw', {num: 2}) }}">Ta två kort</a></li>
                <li><a href="{{ path('cardDeckShuffle') }}">Blanda</a></li>
                <li><a href="{{ path('cardDeckReset') }}">Starta om</a></li>
            </ul>
        </div>

        <div class="card-game">
            {% if hand is defined %}
                <h1>Dina kort({{ handAmount }}):</h1>
                <div class="card-hand">
                    {% for key, card in hand.getCards() %}
                        <span class="
                            {% if card.getSuite() == 'h' or card.getSuite() == 'd' %}
                                red
                            {% endif %}
                        ">
                            {{ card.getAsString() }}
                        </span>
                    {% endfor %}
                </div>
            {% endif %}

            {% if deck is defined %}
                <h1>Kortleken({{ deckAmount }}):</h1>
                <div class="card-deck">
                    {% for key, card in deck.getDeck() %}
                        <span class="
                            {% if card.getSuite() == 'h' or card.getSuite() == 'd' %}
                                red
                            {% endif %}
                        ">
                            {{ card.getAsString() }}
                        </span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}