{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
    <div class="card">

        <div class="player-card-game card-game">
            <h1>Dina kort({{ player_hand_amount }}):</h1>
            <div class="player-card-hand card-hand">
                {% for key, value in player_hand %}
                    <span> {{ value }} </span>
                {% endfor %}
            </div>
            <div class="ace">
                {{ ace }}
            </div>
            <p>
                Vilket värde vill du sätta på ässet?
                <a href="{{ path('gameSetAce', {value: 1}) }}">1</a>
                <a href="{{ path('gameSetAce', {value: 14}) }}">14</a>
            </p>
            totalt värde: {{ player_hand_value }}

        </div>

        
    </div>

{% endblock %}