{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const dealerHand = {{ dealer_hand|json_encode|raw }};
            const dealerHandValueArr = {{ dealer_hand_value|json_encode|raw }};
            const cardContainer = document.querySelector('.dealer-card-hand');
            
            dealerHand.forEach(function(card, index) {
                setTimeout(function() {
                    const span = document.createElement('span');
                    span.textContent = card;
                    span.classList.add('card');
                    cardContainer.appendChild(span);

                    const dealerCardAmount = document.getElementById("dealer-card-amount");
                    let dealerCardAmountOld = parseInt(dealerCardAmount.innerHTML);
                    dealerCardAmount.innerHTML = dealerCardAmountOld += 1;

                    const dealerHandValue = document.getElementById("dealer-hand-value");
                    let dealerHandValueOld = parseInt(dealerHandValue.innerHTML);
                    dealerHandValue.innerHTML = dealerHandValueOld += dealerHandValueArr[index];

                    if (index === dealerHand.length - 1) {
                        console.log("game over yo");
                        // do stuff when all dealer cards have been printed and game is effectively over
                        const hidden = document.querySelectorAll('.hidden');
                        hidden.forEach(function(value, key) {
                            value.style.opacity = 1;
                        });
                        const visable = document.querySelectorAll('.visable');
                        visable.forEach(function(value, key) {
                            value.style.opacity = 0;
                        });
                    }
                }, index * 1000);
            });
        });
    </script>
{% endblock %}


{% block body %}
    <div class="blackjack-body">
        <div class="game-state">
            {% if ace is defined %}
                Vilket värde vill du sätta på ässet?
                <br>
                <a class="fake-btn hover-effect" href="{{ path('gameSetAce', {value: 1}) }}">1</a>
                eller
                <a class="fake-btn hover-effect" href="{{ path('gameSetAce', {value: 14}) }}">14</a>
                <div class="ace">
                    {{ ace }}
                </div>
            {% else %}
                <div class="visable">
                    {% if player_playing %}
                        <div class="">
                            <ul>
                                <li><a class="fake-btn" href="{{ path('gameDrawCard') }}">Ta ett till kort</a></li>
                                <li><a class="fake-btn" href="{{ path('gameDealerDraw') }}">Stanna</a></li>
                            </ul>
                        </div>
                    {% else %}
                        Dealern spelar...
                    {% endif %}
                </div>

                <div class="hidden">
                    {% if winner is defined %}
                        {% if winner == 1 %}
                            Dealern Vann!
                        {% else %}
                            Du Vann!
                        {% endif %}
                    {% else %}
                        Ingen vinnare definierad?
                    {% endif %}
                    <br>
                    <div class="hover-effect">
                        <a class="fake-btn" href="{{ path('gameRestart') }}">Starta om</a>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="dealer">
            <h1>Dealerns kort(<span id="dealer-card-amount">0</span>):</h1>
            <div class="dealer-card-hand">
                <!-- cards get added via javascript -->
            </div>
            totalt värde: <span id="dealer-hand-value">0</span>
        </div>

        <div class="player">
            <h1>Dina kort({{ player_hand_amount }}):</h1>
            <div class="">
                {% for key, value in player_hand %}
                    <span class="card">{{ value }}</span>
                {% endfor %}
            </div>
            totalt värde: {{ player_hand_value }}
        </div>

    </div>

{% endblock %}