{% extends "base.html.twig" %}

{% block title %}Session{% endblock %}

{% block body %}
    <h1>Session Data:</h1>
    <ul>
        {% for key, value in sessionData %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>

    <div>
        {% if hand is defined %}
            <div>
                hand:
                {% for key, value in hand %}
                    <span> {{ value }} </span>
                {% endfor %}
            </div>
        {% endif %}

        {% if deck is defined %}
            <div>
                deck:
                {% for key, value in deck %}
                    <span> {{ value }} </span>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <a href="{{ path('sessionDelete') }}">Delete session</a>
{% endblock %}