{% extends 'base.html.twig' %}

{% block title %}Mitt virituella bibliotek{% endblock %}

{% block body %}
    <div class="library">
        <div class="back-btn">
            <a href="{{ path('libraryShowAll') }}">
                <img class="icon" src='{{ asset('img/arrow.png') }}' alt="<-" />
                Gå tillbaka
            </a>
        </div>
        <div class="show-one">
            <div class="container">
                <div class="book-details">
                    <div class="book-image">
                        <img src="{{ asset('img/books/' ~ book.imgURL ) }}" 
                        onerror="this.onerror=null; this.src='{{ asset('img/books/default.png') }}'">
                    </div>
                    <div class="book-info">
                        <h1>{{ book.title }}</h1>
                        <p><strong>ISBN:</strong><br>
                            {% if hasValidEan13 %}
                                <img
                                    alt='Barcode Generator TEC-IT'
                                    src='https://barcode.tec-it.com/barcode.ashx?data={{ book.ISBN }}&code=ISBN13'
                                />
                            {% else %}
                                {{ book.ISBN }}
                            {% endif %}
                        <p><strong>Författare:</strong><br>{{ book.author }}</p>
                    
                    <form method="post" action="">
                        <input 
                            type="image" name="update" class="icon" src="{{ asset('img/001-edit.png') }}"
                            onClick="this.form.action='{{ path('libraryPrepUpdateById', { id: book.id }) }}';">
                        <input 
                            type="image" name="delete" class="icon" src="{{ asset('img/003-delete.png') }}"
                            onClick="this.form.action='{{ path('libraryDeleteById', { id: book.id }) }}';">
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
