{% extends 'base.html.twig' %}

{% block title %}Mitt virituella bibliotek{% endblock %}

{% block body %}
    <div class="library">
        <div class="show-all">
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>ISBN</th>
                        <th>Author</th>
                        <th>Image</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for i, book in books %}
                        <tr>
                            <td>{{ book.title }}</td>
                            <td>
                                {% if hasValidEan13[i] %}
                                    <img
                                        alt='Barcode Generator TEC-IT'
                                        src='https://barcode.tec-it.com/barcode.ashx?data={{ book.isbn }}&code=ISBN13'
                                    />
                                {% else %}
                                    {{ book.isbn }}
                                {% endif %}
                            </td>
                            <td>{{ book.author }}</td>
                            <td><img src="{{ asset('img/books/' ~ book.imgURL ) }}"></td>
                            <td><a href="{{ path('library_by_id', { id: book.id }) }}">
                                <img class="icon" src="{{ asset('img/002-open-book.png') }}" alt="show">
                            </a></td>
                            <td><a href="{{ path('library_by_id', { id: book.id }) }}">
                                <img class="icon" src="{{ asset('img/001-edit.png') }}" alt="edit">
                            </a></td>
                            <td><a href="{{ path('library_by_id', { id: book.id }) }}">
                                <img class="icon" src="{{ asset('img/003-delete.png') }}" alt="remove">
                            </a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
