{% extends 'base.html.twig' %}

{% block title %}Mitt virituella bibliotek{% endblock %}

{% block body %}
    <div class="library">
        <div class="back-btn">
            <a href="{{ path('libraryShowAll') }}">
                <img class="icon" src='{{ asset('img/arrow.png') }}' alt="<-" />
                Gå tillbaka
            </a>
        </div>
        <div class="show-one">
            <div class="container">
                <div class="book-details">
                    <div class="book-image">
                        <img src="{{ asset('img/books/' ~ book.imgURL ) }}" 
                        onerror="this.onerror=null; this.src='theHobbit.png'">
                    </div>
                    <div class="book-info">
                        <h1>{{ book.title }}</h1>
                        <p><strong>ISBN:</strong> {{ book.ISBN }}</p>
                        <p><strong>Author:</strong> {{ book.author }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
