{% extends 'base.html.twig' %}

{% block title %}Mitt virituella bibliotek{% endblock %}

{% block body %}
    <div class="library">
        <div class="back-btn">
            <a href="{{ path('library') }}">
                <img class="icon" src='{{ asset('img/arrow.png') }}' alt="<-" />
                Gå tillbaka
            </a>
        </div>
        <div class="show-all">
            <table>
                <thead>
                    <tr>
                        <th>Titel</th>
                        <th>ISBN</th>
                        <th>Författare</th>
                        <th>Framsida</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for i, book in books %}
                        <tr>
                            <form method="post" action="">
                                <td>{{ book.title }}</td>
                                <td>
                                    {% if hasValidEan13[i] %}
                                        <img
                                            alt='Barcode Generator TEC-IT'
                                            src='https://barcode.tec-it.com/barcode.ashx?data={{ book.isbn }}&code=ISBN13'
                                        />
                                    {% else %}
                                        {{ book.isbn }}
                                    {% endif %}
                                </td>
                                <td>{{ book.author }}</td>
                                <td>
                                    <img src="{{ asset('img/books/' ~ book.imgURL ) }}"
                                        onerror="this.onerror=null; this.src='theHobbit.png'">
                                </td>
                                <td>
                                    <input
                                        type="image" name="show" class="icon" src="{{ asset('img/002-open-book.png') }}"
                                        onClick="this.form.action='{{ path('libraryById', { id: book.id }) }}';">
                                </td>
                                <td>
                                    <input 
                                        type="image" name="update" class="icon" src="{{ asset('img/001-edit.png') }}"
                                        onClick="this.form.action='{{ path('libraryPrepUpdateById', { id: book.id }) }}';">
                                </td>
                                <td>
                                    <input 
                                        type="image" name="delete" class="icon" src="{{ asset('img/003-delete.png') }}"
                                        onClick="this.form.action='{{ path('libraryDeleteById', { id: book.id }) }}';">
                                </td>
                            </form>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
