<ul>
    <li><a href="{{ path('quote') }}">/api/quote</a></li>
    <li><a href="{{ path('apiDeck') }}">/api/deck</a></li>
    <li><a href="{{ path('apiDeckShuffle') }}">/api/deck/shuffle</a></li>
    <li><a href="{{ path('apiDeckDrawOne') }}">/api/deck/draw</a></li>
    <li><a href="{{ path('apiDeckDraw', {num: 2}) }}">/api/deck/draw/:number</a></li>
    <li><a href="{{ path('apiGame') }}">/api/game</a></li>
</ul>