<nav>
    <ul>
        <li><a href="{{ path('me') }}">Om mig</a></li>
        <li><a href="{{ path('about') }}">Om MVC</a></li>
        <li><a href="{{ path('report') }}">Rapport</a></li>
        <li><a href="{{ path('lucky') }}">Lucky</a></li>
        <li><a href="{{ path('api') }}">API</a></li>
        <li><a href="{{ path('card') }}">Card game</a></li>
    </ul>
</nav>