<nav>
    <ul>
        <li><a href="{{ path('aboutMe') }}">Om mig</a></li>
        <li><a href="{{ path('about') }}">Om MVC</a></li>
        <li><a href="{{ path('report') }}">Rapport</a></li>
        <li><a href="{{ path('lucky') }}">Lucky</a></li>
        <li><a href="{{ path('api') }}">API</a></li>
        <li><a href="{{ path('card') }}">Card</a></li>
        <li><a href="{{ path('game') }}">21 game</a></li>
        <li><a href="{{ path('library') }}">Bibliotek</a></li>
    </ul>
</nav>